### Check Rebel Relation Set

This notebook checks whether all relations generated by rebel belong to the list of relations in the rebel github at rebel/main/data/relations_count.tsv

In [1]:
import pandas as pd

**Get set of relations listed on rebel github**

In [4]:
!wget https://raw.githubusercontent.com/Babelscape/rebel/main/data/relations_count.tsv
!mv relations_count.tsv relations_count.csv

--2024-07-02 12:40:29--  https://raw.githubusercontent.com/Babelscape/rebel/main/data/relations_count.tsv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.111.133, 185.199.108.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.111.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 4713 (4.6K) [text/plain]
Saving to: ‘relations_count.tsv’

relations_count.tsv 100%[===================>]   4.60K  --.-KB/s    in 0s

2024-07-02 12:40:29 (14.2 MB/s) - ‘relations_count.tsv’ saved [4713/4713]

In [10]:
relation_set_df = pd.read_csv("relations_count.csv", delimiter='\t')
relation_set_df

                                              country  1323211
0    located in the administrative territorial entity  1244127
1          contains administrative territorial entity   705344
2                                       date of birth   611524
3                                               sport   450126
4                                         instance of   411812
..                                                ...      ...
224                                      published in     1052
225              original language of film or TV show     1049
226                         origin of the watercourse     1032
227                           drug used for treatment     1002
228                               sports league level     1002

[229 rows x 2 columns]

In [13]:
relation_set = list(relation_set_df["country"])
relation_set.append('country')

**Get all relations found by Rebel in results data**

In [14]:
results_df = pd.read_csv("../../data/results/rebel/rebel_results_spacy_pipe.csv")
relations_found = results_df["relation"].unique()

**Check if all relations found by Rebel belong to relation set**

In [16]:
for relation in relations_found:
    if relation not in relation_set:
        print(f'relation "{relation}" was generated by Rebel, but is not part of orignal set')

relation "different from <triplet>OWNER" was generated by Rebel, but is not part of orignal set
relation "said to be the same as <triplet>EST" was generated by Rebel, but is not part of orignal set

In [17]:
'different from' in relation_set

True

In [18]:
'said to be the same as' in relation_set

True

**All relations found by Rebel belong to the relation set**

The discrepancies found are a matter of incorrect parsing, not new relations